/* shared styles */

.display-flex {

    display: flex;
}

.gray{

    color: #707070;
}
.section-description {

    line-height: 28px;
    font-size: 1.1rem;
    color: #707070;

}

.section-tittle {

    font-family: "Inter", sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    color: #121212;
}

.btn-primary {
    border: none;
    border-radius: 6px;
    padding: 16px 20px;
    font-family: "Inter", sans-serif;
    background-color: #FF5959;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.hero-watch-btn {
    font-style: normal;
    text-decoration: none;
    color: #707070;
    font-size: 1.1rem;
    line-height: 28px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-left: 10px;


}

/* main styles */

/* header related styles */
header {
    background-color: #FAFAFA;
    margin: 0;
}

.hero-section {

    justify-content: flex-end;
    max-width: 1227px;
    margin: 0 auto;
    align-items: center;
}

.hero-content {
    max-width: 524px;

}

.hero-tittle {
    font-size: 4rem;
}

.hero-img {
    width: 100%;
}

/* donate related styles */
.donate {
    max-width: 765px;
    margin: 130px auto;
    text-align: center;
}

.donate-card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 60px;

}

.donate-money-card {

    width: 135px;
    height: 123px;
    border-radius: 5px;
    padding: 12px;
    border: none;
    text-align: center;
    background-color: #FAFAFA;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.donate-money {
    font-size: 1.9rem;
    font-weight: 700;
    color: #707070;
    font-family: "Inter", sans-serif;

}

#red-donate-card {

    color: #FF5959;
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
}

#donate-amout {
    color: #B3B3B3;
    font-size: 1.1rem;
}

.donate hr {
    margin-bottom: 30px;
}

/* our-plan related styles */
.our-plan{
    max-width: 1106px;
    margin: 0 auto;
    text-align: center;
}
.our-plan-cards-container{
    text-align: left;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;
    
}
.our-plan-card{
    border-radius: 5px;
    padding: 54px 22px;
}
#plan-card1{
    background-color:  rgba(79, 157, 166, 0.1);
}
#plan-card2{
    background-color:  rgba(255, 89, 89, 0.1);
}
#plan-card3{
    background-color:  rgb(255, 244, 214)
;
}
.our-plancard-tittle{
    font-size: 1.5rem;
    font-weight: 600;
    color: #121212;
}

/* responsive for mobile device */

@media screen and (max-width:576px) {

    .display-flex {
        flex-direction: column;
        gap: 24px;
        text-align: center;
    }

    .hero-btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-top: 20px;

    }

    .btn-primary {
        width: 50%;
    }

    .donate-card-container {
        grid-template-columns: repeat(2, 1fr);
        

    }
}